/* custom css goes here */

/* Name: Names: 
    Anmol Sharma Student ID: 300878140
    Waynell Lovell Student ID: 300833478
    app.css file */

body {
    padding-bottom: 70px;
    background-image: url('../Assets/Images/background.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
#logo
{
    padding-top:1px;
    border-radius:5px;
}
#Game1Team1Logo,#Game1Team2Logo,#Game2Team1Logo,#Game2Team2Logo,#Game3Team1Logo,#Game3Team2Logo,#Game4Team1Logo,#Game4Team2Logo
{

}
#Usernametxt,#Passwordtxt,#LoginButton{
    height:50px;
    width:150px;
}

.pageFooter
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#7AEFFF;
}