/* custom css goes here */

/* Name: Names: 
    Anmol Sharma Student ID: 300878140
    Waynell Lovell Student ID: 300833478
    app.css file */

body {
    padding-bottom: 70px;
    background-image: url('../Assets/Images/background.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
#logo
{
    padding-top:1px;
    border-radius:5px;
}
#Usernametxt,#Passwordtxt,#LoginButton{
    height:50px;
    width:150px;
}
.leftborder{
    border-left-style:solid;
    border-left-color:white;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
}
.rightborder{
    border-right-style:solid;
    border-right-color:white;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}
.bottomborder{
    border-bottom-style:solid;
    border-bottom-color:white;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.topborder{
    border-top-style:solid;
    border-top-color:white;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
#MainContent_TeamName1lbl,#MainContent_TeamName2lbl,#MainContent_Game1Team1Score,#MainContent_Game1Team2Score,#MainContent_Game1Team1Outs,#MainContent_Game1Team2Outs,#MainContent_Game1Spectators
{
    font-size:24px;
}