/* custom css goes here */

/* Name: Names: 
    Anmol Sharma Student ID: 300878140
    Waynell Lovell Student ID: 300833478
    app.css file */

body {
    padding-bottom: 70px;
    background-image: url('../Assets/Images/background.jpg');
    background-size:contain;
    background-repeat:no-repeat;
}
#logo
{
    padding-top:1px;
    border-radius:5px;
}
#Usernametxt,#Passwordtxt,#Loginbtn{
    height:50px;
}